<!-- <p>get-all-doctors works!</p>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>DoctorId</th>
        <th> Name</th>
        <th>Speciality</th>
        <th> ExperienceYears </th>
        <th>Qualification</th>
        <th>Designation</th>
        <th> UserName</th>
        <th>Password</th>
        <th>Edit</th>
        <th>Delete</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of srv.docList">
        <td>{{ p.PatientId }}</td>
        <td>{{ p.FullName }}</td>
        <td>{{ p.DOB | date:"dd/MM/yyyy"}}</td>
        <td>{{ p.Gender }}</td>
        <td>{{ p.ContactNumber }}</td>
        <td>{{ p.UserName }}</td>
        <td>{{ p.Password }}</td>
        <td><i class="fa fa-edit green-icon text-success" (click)="fillForm(p)"></i></td>
        <td><i class="fa fa-trash red-icon text-danger" (click)="delPatient(p.PatientId)"></i></td>
      </tr>
    </tbody>
  </table>
   -->