
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mb-4">
        <img src="../../../assets/img/slide/slide-2.jpg" alt="Hospital Image" class="img-fluid rounded">
      </div>
      <div class="col-md-6">
        <div class="bg-light p-4 rounded">
          <h2>About Us</h2>
          <p>We are a leading hospital dedicated to providing high-quality healthcare services to our community. With state-of-the-art facilities and a team of skilled medical professionals, we strive to deliver compassionate care to all our patients.</p>
          <p>Our mission is to promote health and wellness, alleviate suffering, and restore health as swiftly, safely, and humanely as it can be done, consistent with the best service we can give at the highest value for all concerned.</p>
        </div>
      </div>
    </div>
  </div>
</body>