<header><h2>Doctor Registration</h2></header>

<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="Id" [value]="srv.doctors.DoctorId">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Name">Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div >
                            <i  aria-hidden="true" [class.green-icon]="Name.valid" [class.red-icon]="Name.invalid && Name.touched"></i>
                        </div>
                    </div>
                    <input id="Name" name="Name" #Name="ngModel" [(ngModel)]="srv.doctors.Name" placeholder="Name" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Specialty">Specialty</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div >
                            <i  aria-hidden="true" [class.green-icon]="Specialty.valid" [class.red-icon]="Specialty.invalid && Specialty.touched"></i>
                        </div>
                    </div>
                    <input id="Specialty" name="Specialty" #Specialty="ngModel" [(ngModel)]="srv.doctors.Specialty" placeholder="Specialty" class="form-control" required/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ExperienceYears">Experience Years</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div >
                            <i  aria-hidden="true" [class.green-icon]="ExperienceYears.valid" [class.red-icon]="ExperienceYears.invalid && ExperienceYears.touched"></i>
                        </div>
                    </div>
                    <input id="ExperienceYears" name="ExperienceYears" #ExperienceYears="ngModel" [(ngModel)]="srv.doctors.ExperienceYears" placeholder="ExperienceYears" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Qualification">Qualification</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div >
                            <i  aria-hidden="true" [class.green-icon]="Qualification.valid" [class.red-icon]="Qualification.invalid && Qualification.touched"></i>
                        </div>
                    </div>
                    <input id="Qualification" name="Qualification" #Qualification="ngModel" [(ngModel)]="srv.doctors.Qualification" placeHolder="Qualification" class="form-control" required>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Designation">Designation</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div >
                            <i aria-hidden="true" [class.green-icon]="Designation.valid" [class.red-icon]="Designation.invalid && Designation.touched"></i>
                        </div>
                    </div>
                    <input id="Designation" name="Designation" #Designation="ngModel" [(ngModel)]="srv.doctors.Designation" placeholder="Designation" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="UserName">User Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div >
                            <i  aria-hidden="true" [class.green-icon]="UserName.valid" [class.red-icon]="UserName.invalid && UserName.touched"></i>
                        </div>
                    </div>
                    <input id="UserName" name="UserName" #UserName="ngModel" [(ngModel)]="srv.doctors.UserName" placeholder="UserName" class="form-control" required />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Password">Password</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div >
                            <i  aria-hidden="true" [class.green-icon]="Password.valid" [class.red-icon]="Password.invalid && Password.touched"></i>
                        </div>
                    </div>
                    <input id="Password" type="password" name="Password" #Password="ngModel" [(ngModel)]="srv.doctors.Password" placeholder="Password" class="form-control" required />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success btn-lg" type="submit" [disabled]="form.invalid">
            <i class="fa fa-database"></i> Register
        </button>
    </div>
</form>
