


   <input type="number" [(ngModel)]="id" placeholder="Enter ID">
<button (click)="getAppointmentList(id)">Submit</button>


<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Patient Name</th>
      <th> AppointmentId</th>
      <th>Doctor Name</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of srv.apps">
      <td>{{ p.PatientName }}</td>
      <td>{{p.AppointmentId}}</td>
      <td>{{ p.DoctorName }}</td>
      <td>{{p.Date}}</td>
      <td>{{p.Status}}</td>
    </tr>
  </tbody>
</table>